<h1>Contact Submissions</h1>

<table class="contacts-table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Message</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= mail_to contact.email %></td>
      <td><%= contact.message %></td>
      <td><%= contact.created_at.strftime("%b %e, %Y") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
